.homeContainer {
    color: white;

    .textSection {
        padding: 1rem;
    }

    .productSection {

        .productHeader {
            display: flex;
            justify-content: center;
            font-size: 1.2rem;
            color: white;
        }
    }
}

.questionButton {
    display: flex;
    justify-content: end;

}

.productGallery {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    background: #FFCE00;
    color: black;
    margin-bottom: 0.5rem;
}

::ng-deep .questionButton .p-button-link {
    color: #FFCE00;
}

.productContainer {
    border: 2px solid white;
}

::ng-deep .p-overlaypanel .p-overlaypanel-content {
    padding: 4rem;
}