<div class="homeContainer">
    <div>
        <p-overlayPanel #op>
            <ng-template pTemplate>
                <p>Un fondo de inversión es el resultado de juntar el capital de distintos inversores/personas/cliente,
                    con
                    el
                    cual
                    se dispone para invertir en el mercado</p>
                <!-- <p>Un fondo de inversión es un instrumento finaciera del cual se dispone para invertir en el mercado</p> -->
                <p>¿Pero por que elegir un Fondo de Inversión</p>
                <p>El objetivo general de un fondo de inversión es proporcionar un rendimiento a todos aquellos
                    inversores
                    que
                    han
                    decidido aportar capital.</p>
                <p>Podemos clasificarlos de acuerdo a su horizonte de tiempo:</p>
                <ul>
                    <li type="circle">Corto plazo</li>
                    <li type="circle">Mediano plazo</li>
                    <li type="circle">Largo plazo</li>
                </ul>
            </ng-template>
        </p-overlayPanel>
        <div class="questionButton">
            <p-button label="¿Que es?" styleClass="p-button-link" (click)="op.toggle($event)"></p-button>
        </div>

    </div>
    <div class="productContainer">
        <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
            [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
            <ng-template pTemplate="header">
                <div class="productGallery">Nuestros productos</div>
            </ng-template>
            <ng-template let-product pTemplate="item">
                <app-product [product]="product">
                </app-product>
            </ng-template>
        </p-carousel>
    </div>
    <!-- 
    <p-dialog [(visible)]="display" [modal]="true" appendTo="body">
        <app-investment [product]="product"></app-investment>
    </p-dialog> -->
    <!-- <div class="separador">
        <div class="productGallery">Tus productos</div>
    </div> -->
   
    <div class="tableProducts">
        <p-table [value]="userProducts" responsiveLayout="scroll" class="tableP">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    Tus productos
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr class="tableTitle" >
                    <th class="tableCell">Ticket</th>
                    <th class="tableCell">Nombre</th>
                    <th class="tableCell">Activos</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" class="" let-product>
                <tr>
                    <td class="columnT">{{product.ticket}}</td>
                    <td class="columnT">{{product.name}}</td>
                    <td class="columnT">{{product.assets}}</td>
                    <!-- <td>{{product.category}}</td>
                <td>{{product.quantity}}</td> -->
                </tr>
            </ng-template>
        </p-table>
    </div>


</div>