.homeContainer {
    color: white;

    .textSection {
        padding: 1rem;
    }

    .productSection {

        .productHeader {
            display: flex;
            justify-content: center;
            font-size: 1.2rem;
            color: white;
        }
    }
}

.questionButton {
    display: flex;
    justify-content: end;

}

.productGallery {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    background: #EDB71A;
    color: black;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

::ng-deep .questionButton .p-button-link {
    color: #EDB71A;
}

.productContainer {
    border: 2px solid white;
}

::ng-deep .p-overlaypanel .p-overlaypanel-content {
    padding: 4rem;
}

.tableProducts {
    margin: 1rem;

}

::ng-deep .p-datatable .p-datatable-header {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    // border: 1px solid #FFCE00;
    background: #EDB71A;
    color: black;
}

::ng-deep .p-datatable {
    border: 5px solid #EDB71A;
    background: black !important;
}
.tableCell{
    text-align: center !important;
}

.columnT {
    background: black !important;
    color: white !important;
    text-align: center !important;
    font-weight: bold !important;
}
.separador{
    margin-top: 1rem;
}
::ng-deep .p-overlaypanel .p-overlaypanel-content{
  background-color: black;
  color: white;
  text-align: center;
  font-weight: normal;
}
::ng-deep .p-datatable .p-datatable-thead > tr > th{
  background-color: #FB9CB3;
  color: black;
}
.titles{
  font-weight: bold;
  color: #EDB71A;
}
.firsttitle{
  font-size: 25px;
}
