<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Square+Peg&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<section class="second-question">
<h5 class="title-question">¿Cuál es el propósito de su ahorro o inversión?</h5>
<section class="second-answers">
    <p-card  [style]="{'width':'80%', 'height': '80%', 'margin-bottom': '2em', 'background': '#F0BF4C', 'text-align': 'center'}" (click)="setResSecond('Obener ganancias a corto plazo', 2)">
        <ng-template pTemplate="header">
            <img class="img-quiz" alt="Card" src="../../../assets/wallet.png">
        </ng-template>
        <p>Obener ganancias a corto plazo</p>
    </p-card>
    
    <p-card  [style]="{'width':'80%','height': '80%','margin-bottom': '2em', 'background': '#F0BF4C', 'text-align': 'center'}" (click)="setResSecond('Comprar una casa', 7)">
        <ng-template pTemplate="header">
            <img class="img-quiz" alt="Card" src="../../../assets/house.png">
        </ng-template>
        <p>Comprar una casa</p>
    </p-card>
    
    <p-card  [style]="{'width':'80%', 'height': '80%','margin-bottom': '2em', 'background': '#F0BF4C', 'text-align': 'center'}" (click)="setResSecond('Ahorro para el retiro', 13)">
        <ng-template pTemplate="header">
            <img class="img-quiz" alt="Card" src="../../../assets/oldman.png">
        </ng-template>
        <p>Ahorro para el retiro</p>
    </p-card>
    </section>
    
    


    <section class="controls">
        <i class="pi pi-chevron-left" style="color: #ff4713; font-size: 2rem; " routerLink="/first-question"></i>     
        <section class="iconsC">
            <i class="pi pi-circle"></i>
            <i class="pi pi-circle-fill"></i>
            <i class="pi pi-circle"></i>
            <i class="pi pi-circle"></i>
            <i class="pi pi-circle"></i>
       
        </section>
        <i class="pi pi-chevron-right" style="color: #ff4713; font-size: 2rem; " (click)="setResSecond('1 año', 1)"></i>    </section>
    </section>
    
