<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Square+Peg&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<section class="fifth-question">
    <h5 class="title-question">¿Que harías si tu inversión comienza a perder valor?</h5>
    <section class="fifth-answers">
        <p-card  [style]="{'width':'80%', 'height': '80%', 'margin-bottom': '2em', 'background': '#F0BF4C', 'text-align': 'center'}" routerLink="/result">
            <ng-template pTemplate="header">
                <img class="img-quiz" alt="Card" src="../../../assets/seller.png">
            </ng-template>
            <p>Vender</p>
        </p-card>
        
        <p-card  [style]="{'width':'78%', 'height': '80%','margin-bottom': '2em', 'background': '#F0BF4C', 'text-align': 'center'}" routerLink="/result">
            <ng-template pTemplate="header">
                <img class="img-quiz" alt="Card" src="../../../assets/expert.png">
            </ng-template>
            <p>Esperar</p>
        </p-card>
        
        <p-card  [style]="{'width':'80%', 'height': '80%', 'margin-bottom': '2em', 'background': '#F0BF4C', 'text-align': 'center'}" routerLink="/result">
            <ng-template pTemplate="header">
                <img class="img-quiz" alt="Card" src="../../../assets/wait.png">
            </ng-template>
            <p>Consultar a un experto</p>
        </p-card>
        </section>
        
        
        
        <i class="pi pi-chevron-left" style="color: #ff4713; font-size: 2rem; margin-right: 100px;" routerLink="/fourth-question"></i>
        
        </section>
        
    