<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Square+Peg&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<section class="fourth-question">
    <h5 class="title-question">¿Cuál consideras  que sea el grado de  conocimiento en fondos de inversión?</h5>
    <section class="fourth-answers">
        <p-card  [style]="{'width':'80%', 'height': '80%', 'margin-bottom': '2em', 'background': '#F0BF4C', 'text-align': 'center'}" routerLink="/fifth-question">
            <ng-template pTemplate="header">
                <img class="img-quiz" alt="Card" src="../../../assets/bajo.png">
            </ng-template>
            <p>Bajo</p>
        </p-card>
        
        <p-card  [style]="{'width':'80%', 'height': '80%','margin-bottom': '2em', 'background': '#F0BF4C', 'text-align': 'center'}" routerLink="/fifth-question">
            <ng-template pTemplate="header">
                <img class="img-quiz" alt="Card" src="../../../assets/medio.png">
            </ng-template>
            <p>Medio</p>
        </p-card>
        
        <p-card  [style]="{'width':'80%', 'height': '80%','margin-bottom': '2em', 'background': '#F0BF4C', 'text-align': 'center'}" routerLink="/fifth-question">
            <ng-template pTemplate="header">
                <img class="img-quiz" alt="Card" src="../../../assets/alto.png">
            </ng-template>
            <p>Alto</p>
        </p-card>
        </section>
        
        
        
        <i class="pi pi-chevron-left" style="color: #ff4713; font-size: 2rem; margin-right: 100px;" routerLink="/third-question"></i>
        <i class="pi pi-chevron-right" style="color: #ff4713; font-size: 2rem; margin-left: 200px;" routerLink="/fifth-question"></i>
        
        </section>
        
    