<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button icon="pi pi-bars" (click)="displaySidebar=true"></p-button>
  </div>
  <div class="p-toolbar-group-right">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" [(ngModel)]="searchText" />
    </span>
  </div>
</p-toolbar>

<p-sidebar [(visible)]="displaySidebar">
  Content
</p-sidebar>
<p style="padding-left: 50rem;">{{displaySidebar}}</p>

<router-outlet></router-outlet>