<p-toolbar >
  <div class="p-toolbar-group-left">
    <!-- <p-button icon="pi pi-bars" (click)="displaySidebar=true"></p-button> -->
    <p-button icon="pi pi-bars" (click)="showSidebar()"></p-button>
  </div>
  <span class="title">FONDOS DE INVERSIÓN</span>
  <div class="p-toolbar-group-right">
    <!-- <span class="p-input-icon-left">
      <i class="pi pi-search"></i> -->
      <!-- <input type="text" pInputText placeholder="Search" [(ngModel)]="searchText" /> -->
    <!-- </span>
    <p-button icon="pi pi-search" [loading]="loading[2]" (onClick)="load(2)"></p-button> -->
  </div>
</p-toolbar>

<p-sidebar [(visible)]="displaySidebar">
  <div class="quizButton">
    <button pButton pRipple type="button" label="Perfílate como inversor" class="p-button-text" icon="pi pi-list" routerLink="/quiz"
      (click)="hideSidebar()"></button>
  </div>
  <div class="navigationButtons">
    <button pButton pRipple type="button" label="General" class="p-button-text" icon="pi pi-home" routerLink="/home"
      (click)="hideSidebar()"></button>
    <button pButton pRipple type="button" label="Mi Inversión" class="p-button-text" icon="pi pi-chart-pie "
      routerLink="/usseraccount" (click)="hideSidebar()"></button>
    <button pButton pRipple type="button" label="Historial" class="p-button-text" icon="pi pi-chart-line"
    routerLink="/userhistory" (click)="hideSidebar()"></button>
  </div>

</p-sidebar>