::ng-deep .p-toolbar {
    background-color: black;
    color: white;
    border-radius: 0;

    .title {
        font-weight: bold;
        font-size: 1.3rem;
    }
}

::ng-deep .p-sidebar {
    background: black;

    .quizButton {
        background: #FFCE00;
        display: flex;
        justify-content: center;

        .p-button-text {
            color: black;

        }
    }

    .navigationButtons {
        display: flex;
        flex-direction: column;

        .p-button-text {
            color: white;
            display: flex;
            align-self: start;
        }
    }

}

::ng-deep .p-button.p-button-icon-only {
    //     background: black;
    //     border: 1px solid #FFCE00;
    background: transparent;
    border: black;
}

::ng-deep .p-sidebar.p-sidebar-left {
    top: 5.3rem;
}

::ng-deep .p-sidebar-content {
    display: flex;
    flex-direction: column;
}

.p-button-label {
    text-align: start;
    margin-left: 0.6rem;
}

::ng-deep .pi{
    font-size: 1.5rem;
}