.welcome{
  background-color: black;
  justify-content: center;
}

.welcome-quiz{

  font-family: 'Square Peg', cursive;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: large;
  color: white;
  margin-top: 4em;
}
.button1{
  background-color: yellow;
  width: 100%;
  height: 100%;

}

.start{
  display: flex;
  justify-content: center;

}

.imgQuiz{
  display: flex;
  justify-content: center;
  margin: 4em;
}




