

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Square+Peg&family=Ubuntu:wght@500&display=swap" rel="stylesheet">


<section class="welcome">

<p class="welcome-quiz"> 
    Con estas 5 sencillas preguntas te ayudaremos a saber que tipo de inversionista 
    eres y te mostraremos el portafolio que se ajusta a tu perfil.
    Hoy mismo vas a invertir................VAMOS!!!!</p>

 <img src="https://i.imgur.com/gOdHCqP.jpg" title="source: imgur.com" width="80%"/>


 <!--    <p-button style="background-color: yellow;" label="Ok" routerLink="/first-question"></p-button>
 -->
<section class="start">
    <button pButton type="button" style="background: #F0bf4c;" label="Comenzar" routerLink="/first-question"></button>

</section>

</section>