.title-useraccount{

    font-family: 'Square Peg', cursive;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: medium;
    font-weight: lighter;
    color: white;
}



.info-useraccount{

    font-family: 'Square Peg', cursive;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: medium;
    font-weight: lighter;
    color: #FFFFFF;

}