.title-useraccount{

    font-family: 'Square Peg', cursive;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: large;
    color: white;
}



.info-useraccount{

    font-family: 'Square Peg', cursive;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: medium;
    color: #F0BF4C;
}
