
.section{
  height: 450px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
}
span{
  font-weight: bold;
}
.ticker{
  text-align: center;
}
::ng-deep .p-dialog .p-dialog-content  {
  background-color: black !important;
}
::ng-deep .p-dialog .p-dialog-header  {
  background-color: black !important;
  color: white;
}
.white{
  color: white;
  text-align: center;
}
.yellow{
  color: #EDB71A;
  font-weight: bold;
}
.title{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.graficas{
  font-weight: bold;
  font-size: 20px;
}
.activos{
  background-color: #EDB71A;
  color: black;
}
.border{
  border-style: solid;
  border-color: #EDB71A;
  margin-bottom: 10px;
}
