.body{
  background-color: black;
  height: 450px;
  color: aliceblue;
  margin: 0;
}
.conteiner{
  height: 450px;
  background-color: white;
  margin: 15px;
}
.section{
  height: 450px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
}
span{
  font-weight: bold;
}
h1, .ticker{
  text-align: center;
}
