<div class="section white">
  <section >
    <p class="title"> {{product.name}} </p>
    <p class="ticker yellow">{{product.ticket}}</p>
    <p>{{product.description}}</p>
  </section>
  <section class="border">
    <h2>Caracteristicas</h2>
    <p><span>Horizonte de inversión:</span> {{product.investmentHorizon}}s</p>
    <p> <span>Horario de operación: </span> {{product.operationHours}}</p>      <p> <span>Liquidación:</span>  {{product.settlement}}</p>
    <p class="activos"> <span>Activos:</span>  {{product.assets}}</p>
  </section>
      <section>

        <p>Composición de la cartera</p>
        <img width="300" [src]="product.composicion" />

        <p>Rendimiento</p>
        <p class="graficas">Composición de la cartera</p>
        <img width="300" [src]="product.composicion" />

        <p class="graficas">Rendimiento</p>

        <img width="300" [src]="product.rendimiento" />
      </section>

</div>
